@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: black;
    height: 100%;
}

h1, h2, h3, p, span  {
    color: white;
    text-align: center;
}

div {
    color: white;
}

h1 {
    font-family: "GFS Didot", serif;
    font-size: 40px;
}
h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    font-family: "GFS Didot", serif;
    font-weight: bold;
}


/* MENU */



header {
    position: fixed;
    background-color: black;
    width: 100%;
    padding-top: 20px;
}

.menu {
    background-color: black;
    text-align: center;
} 

.menu li {
    display: inline;
}

.menu li a {
    display: inline-block;
    padding: 20px 70px;
    text-decoration:none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu li a:hover {
    font-weight: bold;
    
}


/* MAIN */


main {
    padding-top: 200px;
}

.modelos {
    display: flex;
    justify-content: center;
}
.modelos img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.titulodestacados h2 {
    padding-top: 100px;
    text-decoration: underline;
}

.titulodestacados a {
    color: white;
}

.titulodestacados h2 a:hover {
    font-weight: bolder;
    color: rgb(66, 54, 129);
}

.destacados {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.destacados img {
    width: 100%;
    height: auto;
}


.edicionlim {
    padding: 30px;
    color: brown;
    font-family:"GFS Didot", serif; ;
    text-decoration: line-through;
}

.titulos {
    color: brown;
}


/* PIE DE PAGINA */


footer {
    display: inline;
    justify-content: center;
}

.ubi {
    padding-top: 50px;
    
}

.ubi iframe {
    padding-top: 20px;
    width: 100%;
}

.info {
    padding: 50px;
}

.info article {
    padding: 50px;
    text-align: center;
}

.info h3 {
   display: inline-block;
   padding: 30px;
   text-decoration: underline;
}


/* CONTACTO */


.titulo {
    font-weight: bold;
    margin: 0px;
}

.subtitulo {
    font-family:'Times New Roman';
    font-weight: bold;
    margin: 0px;
}


.form {
    padding-bottom: 30px;
    padding-left: 20px;
}

.form-control {
    background-color: gray;
    width: 50%;
    
}



/* GUIA TALLES */

.talles {
  display: flex;
  justify-content: center;
}

.talles img {
    object-fit: cover;
    width: 50%;
    height: auto;
}



/* RESPONSIVE */




@media only screen and (min-width: 768px) and (max-width: 1088px) {

    
    .menu li a {
        display: inline-block;
        padding: 20px 20px;
    }

    
    .info h3 {
       padding: 10px;
    }


}



@media only screen and (max-width: 768px) {
    
    

    .menu li a {
        display: inline-block;
        padding: 20px 20px;
        font-size: 13px;
    }

    main {
        padding-top:240px;
    }

    .modelos img {
        width: 40%;
        height: auto;
    }

    .destacados img {
        width: 60%;
        height: auto;
        object-fit: cover;
    }

    .destacados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form {
        padding-top: 45px;
    }

    
    .info article {
        padding: 0px;
    }
    
    .info h3 {
       display: flex;
       padding: 30px;
       justify-content: center;
       font-size: 18px;
    }


}


    