@import '../base/vars';
@import '../base/reset';
@import '../base/utilities';

@import '../layouts/index';

footer {
    display: inline;
    justify-content: center;
}

.ubi {
  @include flex (column,center,center,20px);
}

.ubi iframe {
  @include flex (column,center,center,20px);
}

.info {
    padding: 50px;
}

.info article {
    @include flex (row,center,center,80px);
    padding: 50px;
    text-align: right;
}

.info h3 {
    @include flex (row,center,center,80px);
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;

}