
  @import '../base/vars';
  @import '../base/reset';
  @import '../base/utilities';

  @import '../layouts/index';


.menu {
    @include flex (row, center, center, 80px);
    

    ul {
        list-style-type: none;
        @include flex (row,center,center,80px);
        padding-top: 25px;
        padding-bottom: 15px;
    }

    li a{
        text-decoration: none;
        color: $color-blanco;
        font-size: 20px;
        transition: .2s;
        &:hover {
            font-weight: bold;
            font-size: 22px;
            text-decoration: underline;
        }
    }
}

.menu_contacto {
    @include flex (row, center, center, 80px);
    

    ul {
        list-style-type: none;
        @include flex (row,center,center,80px);
        padding-top: 20px;
    }

    li a{
        text-decoration: none;
        color: $color-blanco;
        font-size: 18px;
        transition: .2s;
        &:hover {
            font-weight: bold;
            font-size: 20px;
            text-decoration: underline;
        }
    }
}