@import 'vars';
@import 'utilities';

@import '../layouts/index';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        background-color: $color-negro;
        height: 100%;
    }
    
    h1, h2, h3, p, span  {
        color: $color-blanco;
        text-align: center;
    }    

    h1 {
        font-family: $fuente-principal;
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
        font-family: $fuente-secundaria;
    }
    
    h3 {
        font-size: 20px;
        font-family: $fuente-principal;
        font-weight: bold;
    }