//colores
$color-negro: black;
$color-blanco:rgb(219, 219, 219);
$color-rojo:rgb(124, 16, 16);
$color-lila:rgb(66, 54, 129);

//tamaños texto.
$fuente-principal:"GFS Didot", serif;
$fuente-secundaria:'Times New Roman';